<h1>Employees</h1>
<button type= "button" class="btn btn-default">
  <span class= "glyphicon glyphicon-plus"></span>
  <a routerLink= "/add-employee">Add Employee</a>
</button>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees" >
      <td>{{employee.id}}</td>
      <td>{{employee.fullName}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td>
        <a routerLink="/update-employee/{{employee.id}}">
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
        </a>&nbsp;
        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

