<h2>Add Employee</h2>
<div>
  <label>Employee name:
    <input #fullName />
  </label><br/>
  <label>Address:
    <input #address>
  </label><br/>
  <label>Email:
    <input #email>
  </label><br/>
  <label>Phone Number:
    <input #phoneNumber>
  </label><br/>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(fullName.value,address.value,email.value,phoneNumber.value);">
    add
  </button>
</div>
<!--<div>-->
  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<div class="form-group">-->
      <!--<label for="fullName">First Name</label> <input type="text"-->
                                                       <!--[(ngModel)]="employee.fullName">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="address">Last Name</label> <input type="text"-->
                                                     <!--[(ngModel)]="employee.address">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="email">Last Name</label> <input type="text"-->
                                                    <!--[(ngModel)]="employee.email">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="phoneNumber">Last Name</label> <input type="text"-->
                                                    <!--[(ngModel)]="employee.phoneNumber">-->
    <!--</div>-->

    <!--<div class="btn-group">-->
      <!--<button class="btn btn-primary" (click)="goBack()">Back</button>-->
      <!--<button type="submit" class="btn btn-success">Submit</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->

