
<div *ngIf="employee">
  <h1>Update Employee</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label  class="col-sm-2 col-form-label">First Name</label>
        <input [(ngModel)]="employee.fullName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label  class="col-sm-2 col-form-label">Address:</label>
        <input [(ngModel)]="employee.address" [ngModelOptions]="{standalone: true}">

    </div>
    <div class="form-group">
      <label  class="col-sm-2 col-form-label">Email:</label>
        <input [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label  class="col-sm-2 col-form-label">Phone Number:</label>
      <input [(ngModel)]="employee.phoneNumber" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="btn-group">
      <button class="col-sm-2 col-form-label" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

